@inject NavigationManager NavigationManager

<div style="@Style" class="news-list-element-container">
    <div class="news-list-element-text-container">
        <span class="news-list-element-date">@Date</span>
        <span class="news-list-element-title">@Title</span>
        <span class="news-list-element-text">@Text</span>
    </div>
    <div class="news-list-element-button-container">
        <button class="news-list-element-button" @onclick="@OpenNews">Открыть</button>
    </div>
</div>

@code {
    private string text;

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? Date { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Text
    {
        get => text;
        set
        {
            if (value.Length > 100)
                text = value.Substring(0, 80) + "...";
            else text = value;
        }
    }

    [Parameter]
    public string? Style { get; set; }

    private void OpenNews()
    {
        NavigationManager.NavigateTo($"/news/{Id}");
    }
}