@page "/admin"

@using CoderWebsite.Components
@using CoderWebsite.Components.Admin.Panel
@using CoderWebsite.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationState
@inject ApplicationContext Context
@inject NavigationManager NavigationManager

<PageTitle>Панель администратора | Кодер</PageTitle>

<PageBlock>
    <div class="admin-panel-title-container">
        <span class="admin-panel-title">Панель администратора</span>
        <span class="admin-panel-title-mail">@user.Email</span>
    </div>
    <div class="admin-panel-tabs-container">
        <button class="admin-panel-tab @(GetStyle(AdminPanelSelection.NewsControl))"
            @onclick="() => ChangeSelection(AdminPanelSelection.NewsControl)">
            Управление новостями
        </button>
        <button class="admin-panel-tab @(GetStyle(AdminPanelSelection.UserList))"
            @onclick="() => ChangeSelection(AdminPanelSelection.UserList)">
            Список пользователей
        </button>
    </div>
    <div>
        <div style="@(GetDisplay(AdminPanelSelection.NewsControl))">
            <NewsManager />
        </div>
        <div style="@(GetDisplay(AdminPanelSelection.UserList))">
            <UserControl />
        </div>
    </div>
</PageBlock>

@code {
    private AdminPanelSelection tabSelection = AdminPanelSelection.NewsControl;

    private User user;

    protected override void OnInitialized()
    {
        var authState = AuthenticationState.GetAuthenticationStateAsync().Result;
        user = UserManager.GetUserAsync(authState.User).Result;
        if (user == null) NavigationManager.NavigateTo("/login");
    }

    private void ChangeSelection(AdminPanelSelection selection)
    {
        tabSelection = selection;
        StateHasChanged();
    }

    private string GetStyle(AdminPanelSelection selection)
    {
        if (selection == tabSelection) return "admin-panel-tab-selected";
        else return "";
    }

    private string GetDisplay(AdminPanelSelection selection)
    {
        if (selection != tabSelection) return "display: none;";
        else return "";
    }

    private enum AdminPanelSelection
    {
        NewsControl,
        UserList
    }
}