@page "/news/{Id:int}"

@using CoderWebsite.Components
@using CoderWebsite.Components.BlockContent
@using CoderWebsite.Models

@inject ApplicationContext DbContext

@if (news != null)
{
    <PageTitle>
        @(!string.IsNullOrEmpty(news.SEOTitle) ? $"{news.SEOTitle} | Кодер" : $"{news.Title} | Кодер")
    </PageTitle>
    <HeadContent>
        @if (!string.IsNullOrEmpty(news.SEODescription)) { <meta name="description" content="@news.SEODescription"> }
        @if (!string.IsNullOrEmpty(news.SEOKeywords)) { <meta name="keywords" content="@news.SEOKeywords"> }
    </HeadContent>
}
else
{
    <PageTitle>Новость не найдена | Кодер</PageTitle>
}

<PageBlock>
    @if (news != null)
    {
        <Publication Title="@(news.Title)" Date="@(news.Date)">
            @(news.Text)
        </Publication>
    }
    else
    {
        <div class="news-text-no-news">Новость не найдена.</div>
    }
</PageBlock>

@code {
    private News news;

    [Parameter] public int Id { get; set; }

    protected override void OnInitialized()
    {
        var dbNews = DbContext.News.Where(obj => obj.Id == Id);
        if (dbNews.Count() > 0)
            news = dbNews.First();
    }
}