@page "/ordering"

@using CoderWebsite.Components
@using CoderWebsite.Components.Account
@using CoderWebsite.Models
@using CoderWebsite.Models.Pages.Account
@using Microsoft.AspNetCore.Identity

@inject ApplicationContext DbContext
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Оформление заказа | Кодер</PageTitle>

<PageBlock ColorFrom="#121212">
    <CascadingAuthenticationState>
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="access-error-message">Только обычный пользователь имеет доступ к данной странице.</div>
            </Authorized>
            <NotAuthorized>
                <div class="ordering-title">Оформление заказа</div>
                <EditForm Model="@model" OnValidSubmit="Order" Context="orderingContext">
                    <div class="ordering-container">
                        <div class="ordering-form-title">Тип приложения</div>

                        <div class="ordering-type-container">
                            <span class="ordering-type-variant-container">
                                <span class="ordering-type-variant-title">Веб-сайт PWA</span>
                                <span class="ordering-type-variant-price">5500 руб.</span>
                                <button class="ordering-type-variant-button
                                    @(GetStyle(OrderAppType.Website_PWA))"
                                    @onclick="() => ChangeSelection(OrderAppType.Website_PWA)">
                                    @(GetSelectText(OrderAppType.Website_PWA))
                                </button>
                            </span>
                            <span class="ordering-type-variant-container">
                                <span class="ordering-type-variant-title">Веб-сайт SPA</span>
                                <span class="ordering-type-variant-price">2350 руб.</span>
                                <button class="ordering-type-variant-button
                                    @(GetStyle(OrderAppType.Website_SPA))"
                                    @onclick="() => ChangeSelection(OrderAppType.Website_SPA)">
                                    @(GetSelectText(OrderAppType.Website_SPA))
                                </button>
                            </span>
                            <span class="ordering-type-variant-container">
                                <span class="ordering-type-variant-title">Микросервис gRPC</span>
                                <span class="ordering-type-variant-price">1250 руб.</span>
                                <button class="ordering-type-variant-button
                                    @(GetStyle(OrderAppType.Microservice_gRPC))"
                                    @onclick="() => ChangeSelection(OrderAppType.Microservice_gRPC)">
                                    @(GetSelectText(OrderAppType.Microservice_gRPC))
                                </button>
                            </span>
                            <span class="ordering-type-variant-container">
                                <span class="ordering-type-variant-title">Микросервис ZeroC Ice</span>
                                <span class="ordering-type-variant-price">1250 руб.</span>
                                <button class="ordering-type-variant-button
                                    @(GetStyle(OrderAppType.Microservice_ZeroC_Ice))"
                                    @onclick="() => ChangeSelection(OrderAppType.Microservice_ZeroC_Ice)">
                                    @(GetSelectText(OrderAppType.Microservice_ZeroC_Ice))
                                </button>
                            </span>
                        </div>

                        <div class="ordering-additions-container">
                            <div class="ordering-additions-title">Дополнительные функции</div>
                            <table class="ordering-table">
                                <tr>
                                    <td class="ordering-table-column-title">Название</td>
                                    <td class="ordering-table-column-title">Цена</td>
                                    <td class="ordering-table-column-title ordering-table-column-add">Добавление</td>
                                </tr>
                                <tr style="@(hideForMicroservice())">
                                    <td class="ordering-table-column-text">Система учетных записей</td>
                                    <td class="ordering-table-column-text">3200 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.AccountSystem))"
                                            @onclick="() => ChangeAddition(OrderAdditions.AccountSystem)">
                                            @(AdditionGetText(OrderAdditions.AccountSystem))
                                        </a>
                                    </td>
                                </tr>
                                <tr style="@(hideForMicroservice())">
                                    <td class="ordering-table-column-text">Модуль онлайн-консультанта</td>
                                    <td class="ordering-table-column-text">2000 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.OnlineConsultantModule))"
                                            @onclick="() => ChangeAddition(OrderAdditions.OnlineConsultantModule)">
                                            @(AdditionGetText(OrderAdditions.OnlineConsultantModule))
                                        </a>
                                    </td>
                                </tr>
                                <tr style="@(hideForMicroservice())">
                                    <td class="ordering-table-column-text">Система голосования</td>
                                    <td class="ordering-table-column-text">1000 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.VoteSystem))"
                                            @onclick="() => ChangeAddition(OrderAdditions.VoteSystem)">
                                            @(AdditionGetText(OrderAdditions.VoteSystem))
                                        </a>
                                    </td>
                                </tr>
                                <tr style="@(hideForMicroservice())">
                                    <td class="ordering-table-column-text">Поиск информации по сайту</td>
                                    <td class="ordering-table-column-text">900 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.Search))"
                                            @onclick="() => ChangeAddition(OrderAdditions.Search)">
                                            @(AdditionGetText(OrderAdditions.Search))
                                        </a>
                                    </td>
                                </tr>
                                <tr style="@(hideForMicroservice())">
                                    <td class="ordering-table-column-text">Модуль обратной связи</td>
                                    <td class="ordering-table-column-text">700 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.FeedbackModule))"
                                            @onclick="() => ChangeAddition(OrderAdditions.FeedbackModule)">
                                            @(AdditionGetText(OrderAdditions.FeedbackModule))
                                        </a>
                                    </td>
                                </tr>
                                <tr style="@(hideForMicroservice())">
                                    <td class="ordering-table-column-text">Система заказов</td>
                                    <td class="ordering-table-column-text">1500 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.OrderSystem))"
                                            @onclick="() => ChangeAddition(OrderAdditions.OrderSystem)">
                                            @(AdditionGetText(OrderAdditions.OrderSystem))
                                        </a>
                                    </td>
                                </tr>

                                <tr style="@(hideForSite())">
                                    <td class="ordering-table-column-text">Настройка для Docker</td>
                                    <td class="ordering-table-column-text">500 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.Docker))"
                                            @onclick="() => ChangeAddition(OrderAdditions.Docker)">
                                            @(AdditionGetText(OrderAdditions.Docker))
                                        </a>
                                    </td>
                                </tr>

                                <tr style="@(hideForSite())">
                                    <td class="ordering-table-column-text">Шифрование данных</td>
                                    <td class="ordering-table-column-text">3000 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.Encryption))"
                                            @onclick="() => ChangeAddition(OrderAdditions.Encryption)">
                                            @(AdditionGetText(OrderAdditions.Encryption))
                                        </a>
                                    </td>
                                </tr>

                                <tr style="@(hideForSite())">
                                    <td class="ordering-table-column-text">Интеграция с базой данных PostgreSQL</td>
                                    <td class="ordering-table-column-text">1000 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.PostgreSQL))"
                                            @onclick="() => ChangeAddition(OrderAdditions.PostgreSQL)">
                                            @(AdditionGetText(OrderAdditions.PostgreSQL))
                                        </a>
                                    </td>
                                </tr>

                                <tr style="@(hideForSite())">
                                    <td class="ordering-table-column-text">Кеширование данных с помощью Redis</td>
                                    <td class="ordering-table-column-text">2000 руб.</td>
                                    <td class="ordering-table-column-text ordering-table-column-add">
                                        <a class="ordering-table-add-button @(AdditionGetStyle(OrderAdditions.Caching))"
                                            @onclick="() => ChangeAddition(OrderAdditions.Caching)">
                                            @(AdditionGetText(OrderAdditions.Caching))
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="ordering-table-total-price-text">
                                        Итого: @(CalcPrice()) руб.
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="ordering-form-title">Контактные данные</div>
                        <div class="ordering-input-container">
                            <span class="ordering-errors-container">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                            </span>

                            <div class="ordering-input-field-container">
                                <span class="ordering-input-title">ФИО</span>
                                <InputText class="ordering-input-field" @bind-Value="model.FIO" />
                            </div>
                            <div class="ordering-input-field-container">
                                <span class="ordering-input-title">Название заказа</span>
                                <InputText class="ordering-input-field" @bind-Value="model.Name" />
                            </div>
                            <div class="ordering-input-field-container">
                                <span class="ordering-input-title">Номер телефона</span>
                                <InputText class="ordering-input-field" @bind-Value="model.Phone" />
                            </div>
                            <div class="ordering-input-field-container">
                                <span class="ordering-input-title">Электронная почта</span>
                                <InputText class="ordering-input-field" @bind-Value="model.Email" />
                            </div>
                            <button class="ordering-input-button" type="submit">Оформить</button>
                        </div>
                    </div>
                </EditForm>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</PageBlock>

@code {
    private OrderAppType selectedType = OrderAppType.Website_PWA;

    private OrderingModel model = new OrderingModel();

    private User user;

    private HashSet<OrderAdditions> additions = new HashSet<OrderAdditions>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authUser = authState.User;
        if (!authUser.Identity.IsAuthenticated) NavigationManager.NavigateTo("/login", true, true);
        user = DbContext.Users.Where(user => user.Email == authUser.Identity.Name).First();

        model.FIO = $"{user.FirstName} {user.LastName} {user.MiddleName}";
        model.Email = $"{user.Email}";
    }

    private string GetStyle(OrderAppType type)
    {
        if (type == selectedType) return "ordering-input-button-selected";
        else return "";
    }

    private string GetSelectText(OrderAppType type)
    {
        if (type == selectedType) return "выбрано";
        else return "выбрать";
    }

    private void ChangeSelection(OrderAppType type)
    {
        selectedType = type;
        additions.Clear();
        StateHasChanged();
    }

    private void Order()
    {
        var order = new Models.Order
        {
            Email = model.Email,
            Name = model.Name,
            Phone = model.Phone,
            Date = DateTime.Today.ToLongDateString(),
            Type = selectedType,
            Status = OrderStatus.RequestAccepted,
            User = user
        };
        DbContext.Orders.Add(order);
        DbContext.SaveChanges();
        NavigationManager.NavigateTo($"/account", true, true);
    }

    private void ChangeAddition(OrderAdditions addition)
    {
        if (additions.Contains(addition))
            additions.Remove(addition);
        else additions.Add(addition);
        StateHasChanged();
    }

    private string AdditionGetText(OrderAdditions addition)
    {
        if (additions.Contains(addition))
            return "-";
        else return "+";
    }

    private string AdditionGetStyle(OrderAdditions addition)
    {
        if (additions.Contains(addition))
            return "ordering-table-add-button-selected";
        else return "";
    }

    private int CalcPrice()
    {
        int price = 0;
        switch (selectedType)
        {
            case OrderAppType.Website_PWA:
                price += 5500;
                break;
            case OrderAppType.Website_SPA:
                price += 2350;
                break;
            case OrderAppType.Microservice_ZeroC_Ice:
            case OrderAppType.Microservice_gRPC:
                price += 1250;
                break;
        }

        if (additions.Contains(OrderAdditions.AccountSystem)) price += 3200;
        if (additions.Contains(OrderAdditions.OnlineConsultantModule)) price += 2000;
        if (additions.Contains(OrderAdditions.VoteSystem)) price += 1000;
        if (additions.Contains(OrderAdditions.Search)) price += 900;
        if (additions.Contains(OrderAdditions.FeedbackModule)) price += 700;
        if (additions.Contains(OrderAdditions.OrderSystem)) price += 1500;

        return price;
    }

    private string hideForMicroservice()
    {
        if (selectedType == OrderAppType.Microservice_gRPC || selectedType == OrderAppType.Microservice_ZeroC_Ice)
            return "display: none;";
        else return "";
    }

        private string hideForSite()
    {
        if (selectedType == OrderAppType.Website_PWA || selectedType == OrderAppType.Website_SPA)
            return "display: none;";
        else return "";
    }
}